.about_text1 {
    padding-right: 70px;
    margin-top: 30px;
}

.about_img {
    width: 650px;
}

.about_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 432px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.left_part_div_about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 432px;
}

.right_part_div_about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.changeside_about{
    margin-left: 0%;
    margin-right: 50px;
}