@media screen and (width<=1200px) and (width >=991px){
    .about_text1{
        padding-right: 70px;
        margin-top: 30px;
    }
    
    .about_img{
        width:500px;
    }
    
    .about_section{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 432px;
        margin-top: 35px;
    }
    
    .left_part_div_about{
        
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
        width: max-content;
        height: 432px;
    }
    
    .right_part_div_about{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
    } 
   
}

@media screen and (width<=992px) and (width >=768px){
    
    .about_img{
        width:350px;
    }
    
      
    .about_section{
        /* background-color: aqua; */
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 302px;
        margin-bottom: 50px;
        margin-top: 30px;
    }

      
    .left_part_div_about{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 302px;
    }
    
    .right_part_div_about{
        margin-left: 20px;
    } 

    .about_sec_text{
        font-size: 13px;
    }
   
}

@media screen and (width<=768px) and (width >=500px){
    
    .about_img{
        width:300px;
    }
    
    .about_section{
        /* background-color: aqua; */
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 302px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .left_part_div_about{
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 302px;
    }
    
    .right_part_div_about{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    } 

    .about_sec_text{
        font-size: 10px;
    }

    .about_sec_text_head{
        font-size: 16px;
    }
   
}

@media screen and (width<=500px) and (width >=0px){
    
    .about_img{
        width:120px;
        height: 150px;
    }
    
    .about_section{
        height: 210px;
        /* background-color: aqua; */
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .left_part_div_about{
        height: 210px;
    }
    
    .right_part_div_about{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
    } 

    .about_sec_text{
        font-size: 8px;
    }

    .about_sec_text_head{
        font-size: 15px;
    }
   
}

