.details_upper_section{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin-top: 50px;
    width: 100%;
    height: 120px;
    align-items: center;
    background-color: aliceblue;
}

.details_phone_no_div{
    margin-top: 8px;
    float:right
}


.details_upperrent{
    margin-left: 8%;
    padding-right: 2%;
    border-right: 1px solid black ;
}


.details_upperright{
    width: calc(100% - 490px);
    float: left;
    padding: 0 20px;
    line-height: 22px;
    position: relative;
}

.details_upper_name{
    max-width: 700px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 7px;
    color: #0f2290;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.details_gender{
    width: auto;
    padding: 0 4px;
    margin-right: 6px;
    text-align: center;
    color: #606060;
    font-size: 12px;
    font-weight: 700;
    background-color: #2b2a2a23;
    border-radius: 4px;
}



.details_contact{
    color: #fff;
    background-color: #d8232a;
    border: 1px solid #d8232a;
    width: auto;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.details_collapse2{
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* background-color:#feebeb; */
    
}

.details_pg_deatils{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: aliceblue;
    margin-top: 20px;
    /* margin-left: 160px; */
    width: 1200px;
    height: 420px;
    justify-content: center;
}

.details_slider {
    position: relative;
    width: 340px;
    height: 270px;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid  rgb(144, 144, 144);;
    margin-top: 29px;
}

.details_slider-container {
    position: absolute;
    width: 600%;
    height: 100%;
    left: 0;
    transition: left 0.5s ease-in-out;
}

.details_slider-container img {
    float: left;
    width: 16.66%;
    height: 100%;
}

.details_slider-controls {
    position: absolute;
    bottom: 50%;
    float: left;
    transform: translateX(-50%);
}


.details_prev-button,
.details_next-button {
    width: 25px;
    line-height: 20px;
    border-radius: 25%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    position: absolute;
    background-color: #0b0a0a;
    color: white;
    transform: translateY(-50%);
    
}
.details_next-button{
    margin-left: 309px;
}

.details_prev-button:hover,
.details_next-button:hover {
    background-color: #aaa;
    cursor: pointer;
}

.details_pg_name{
    margin-left: 10px;
    margin-top: 5px;
    max-width: 600px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 7px;
    font-size: 25px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  

.details_pg_desc{
    margin-left: 10px;
    font-size: 13px;
}

.details_right_section{
    margin-left: 20px;
}

.details_left_part{
    width: 420px;
    padding-left:10px;
}

.details_small_div{
    flex-direction: column;
    font-size: 13px;
}


.details_small_val{
    font-size: 14px;
    font-weight: 500;
}

.col{
    background-color: aliceblue;
}


.details_houserule{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: aliceblue;
    margin-top: 70px;
    width: 1200px;
    height: 370px;
    margin-bottom: 70px;
}


.details_res_price{
    font-size: 20px;
}

.details_title{
    font-size: 20px;
    padding-left: 15px;
    font-weight: 600;
}

.details_sm-other{
    height: 230px;
}

.details_link_comp{
    background-color: #b8e4bf22;
}

body{
    background-color: #32393900;
}