.image_section_blog {

    display: flex;
    width: 45%;
    height: 320px;
    justify-content: center;
    align-items: center;
}


.content_section_blog{
    margin-left: 20px;
}

.img_blog {
    height: 250px;
    width: 390px;
}

.headingblog {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.blog_para{
    font-size: 14px;
}

.blog_title{
    font-size: 22px;
    color: #041073;
}

.colblog {
    align-items: center;
    background-color: rgb(253, 244, 229);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}