@media screen and (width<=1267px) and (width >=1048px) {
  .City_sort_button {
    margin-left: 450px;
  }

  .btnclearfilter {
    margin-right: 4px;
  }
  .filter {
    width: 32%;
  }

  .Cities_data {
    justify-content: center;
  }
}

@media screen and (width<=1048px) and (width >=769px) {
  .City_sort_button {
    margin-left: 240px;
  }

  .City_heading {
    padding-left: 7px;
    padding-top: 25px;
    font-size: 14px;
  }

  .btnclearfilter {
    margin-left: 15px;
    margin-right: 4px;
  }

  .pin_search {
    padding-top: 4px;
  }

  .filter {
    width: 32%;
  }

  .Cities_data {
    justify-content: center;
  }
}

@media screen and (width<=769px) and (width >=600px) {
  .City_sort_button {
    margin-left: 140px;
  }

  .City_heading {
    padding-left: 7px;
    padding-top: 25px;
    font-size: 14px;
  }

  .btnclearfilter {
    margin-left: 15px;
    margin-right: 4px;
  }

  .city_filter_font {
    font-size: 13px;
  }

  .filter {
    width: 22%;
    height: 698px;
  }

  .pin_search {
    padding-top: 4.2px;
    padding-bottom: 3.8px;
  }

  .pin_enter {
    width: 85px;
  }

  .Cities_data {
    justify-content: center;
  }
}

@media screen and (width<=600px) and (width >=440px) {
  .City_sort_button {
    margin-left: 50px;
  }

  .City_drop {
    font-size: 12px;
  }

  .filter {
    flex-direction: column;
  }

  .City_heading2 {
    padding-left: 7px;
    padding-top: 25px;
    font-size: 14px;
    flex-direction: column;
  }

  .btnclearfilter {
    margin-left: 0px;
    margin-right: 5px;
  }

  .city_filter_font {
    font-size: 13px;
  }

  .City_pg_details {
    box-shadow: rgba(62, 24, 138, 0.35) 0px 5px 15px;
    margin-left: 2%;
    width: 300px;
    margin-top: 60px;
    padding: 15px 2%;
    margin-bottom: 20px;
  }

  .City_upper {
    padding-left: 20px;
    margin-left: 2px;
  }

  .filter {
    width: 150px;
    height: 698px;
  }

  .pin_search {
    padding-top: 4.2px;
    padding-bottom: 3.8px;
  }

  .pin_enter {
    width: 85px;
  }

  .Cities_data {
    justify-content: center;
  }

  .City_div_img {
    width: 200px;
    height: 250px;
  }
}

@media screen and (width<=440px) and (width >=370px) {
  .City_sort_button {
    margin-left: 35px;
  }

  .filter {
    flex-direction: column;
  }

  .City_heading2 {
    padding-left: 7px;
    padding-top: 25px;
    font-size: 14px;
    flex-direction: column;
  }

  .btnclearfilter {
    margin-left: 0px;
    margin-right: 5px;
  }

  .city_filter_font {
    font-size: 13px;
  }

  .City_pg_details {
    width: 190px;
  }

  .City_upper {
    padding-left: 20px;
    margin-left: 2px;
  }

  .filter {
    width: 122px;
    height: 698px;
  }

  .pin_search {
    padding-top: 4.2px;
    padding-bottom: 3.8px;
  }

  .pin_enter {
    width: 85px;
  }

  .Cities_data {
    margin-left: 0%;
    overflow-x: scroll;
    font-size: 10px;
  }

  .City_div_img {
    width: 200px;
    height: 150px;
  }

  .pg_no_of_result {
    font-size: 12px;
  }


  .City_pg_details{ 
    width : 230px;
}


  .City_drop {
    font-size: 12px;
  }
}

@media screen and (width<=370px) and (width >=0px) {
  .City_sort_button {
    margin-left: 35px;
  }

  .filter {
    flex-direction: column;
  }

  .City_heading2 {
    padding-left: 7px;
    padding-top: 25px;
    font-size: 14px;
    flex-direction: column;
  }

  .btnclearfilter {
    margin-left: 0px;
    margin-right: 5px;
  }

  .city_filter_font {
    font-size: 13px;
  }

  .City_pg_details {
    width: 190px;
  }

  .City_upper {
    padding-left: 20px;
    margin-left: 2px;
  }

  .filter {
    width: 122px;
    height: 698px;
  }

  .pin_search {
    padding-top: 4.2px;
    padding-bottom: 3.8px;
  }

  .pin_enter {
    width: 85px;
  }

  .Cities_data {
    margin-left: 0%;
    overflow-x: scroll;
    font-size: 10px;
  }

  .City_div_img {
    width: 150px;
    height: 150px;
  }

  .pg_no_of_result {
    font-size: 12px;
  }


  .City_pg_details{ 
    width : 170px;
}


  .City_drop {
    font-size: 12px;
  }
}
